.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
}
.card {
  background-color: rgb(255, 249, 249);
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-content {
  position: relative;
  row-gap: 5px;
}

.card-image {
  padding: 2px 3px;
  padding-bottom: 5px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
}

.description {
  font-size: 14px;
  color: #444444;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
