* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "monzerat";
}

body {
  overflow-x: hidden;
  background-image: url(../img/bg-testimoni.jpg);
}
/* header */

.medsos {
  position: absolute;
  top: 0;
  right: 0;
}
.medsos img {
  width: 40px;
  padding: 5px;
}

.navbar-brand:hover {
  color: rgb(231, 231, 228);
}

nav a {
  font-family: "Segoe UI";
}

.logo {
  width: 210px;
  transition: all 0.5s;
}
.logo.active {
  transform: scale(0.7);
}

.navbar-nav a {
  padding-left: 40px !important;
}

strong {
  font-size: 65px;
}

/* end header */

/* navigasi */

.navigasi ul {
  list-style: none;
  text-decoration: none;
  position: fixed;
  bottom: 0;
}

.wa-logo img {
  width: 15%;
}
.up img {
  width: 15%;
}
.to-top {
  opacity: 0;
  transition: all 0.7;
}
.to-top.active {
  opacity: 0.8;
  pointer-events: auto;
}
/* end navigasi */

/* page tentang-kami */
/* main */

.main h1 {
  font-size: 50px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main strong {
  color: rgb(209, 0, 0) !important;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* end-main */
/* end page tentang-kami */

/* unit Mobil */
.unit {
  background-image: url(../img/bg-unit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.unit h3,
p {
  text-align: left;
}
.kartu {
  background-image: url(../img/bg-unit.jpg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
.kartu a {
  background-color: rgb(240, 185, 34);
  font-family: "Segoe UI";
  font-size: 19px !important;
}
.kartu img {
  width: 90%;
  border-radius: 10%;
}
.next-page a {
  color: rgb(216, 216, 215);
}
.next-page a:hover {
  color: rgb(255, 255, 138);
}

/* end unit Mobil */

/* cara pemesanan */
.box-order {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
/* end cara pemesanan */

/* why choose us */

.why {
  padding-bottom: 70px;
}
.why P {
  font-size: 1.2rem;
}
.why h4 {
  font-size: 3rem;
}
.why img {
  width: 40%;
}
.box-why {
  margin: 10px;
}
/* end why choose us */

/* galery */

/* end galery */

/* paket wisata */

.paket-wisata h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.paket-wisata .col-md-3 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.paket-wisata h6 {
  background-color: rgb(228, 228, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* end paket wisata */

/* artikel */

.artikel img {
  width: 100%;
}

.artikel h6,
p {
  font-family: "Segoe UI";
}
.artikel .col-md-2 {
  border: 1px solid rgb(196, 189, 189);
  box-shadow: 5px 5px 5px rgba(43, 42, 42, 0.5);
  margin: 10px;
}

.artikel a:hover {
  font-weight: bold;
  cursor: pointer;
}

/* footer */
.footer h6,
p {
  font-size: 1.3rem !important;
}
.footer ul {
  list-style: none;
}
.footer-medsos img {
  width: 20%;
}

/* end footer */

/* @media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62, 5%;
  }

  .header .nohp {
    font-size: 1.5rem !important;
  }

  h5 {
    width: 80%;
  }

  .kartu {
    width: 30%;
  }
  .unit h3 {
    font-size: 15px !important;
  }
  .unit p {
    font-size: 20px !important;
  }
  .unit a {
    font-size: 12px !important;
  }
  table {
    margin-bottom: 10px;
  }
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .paket-wisata .col-md-3 {
    width: 40%;
  }
  .artikel h6 {
    padding-top: 10px;
  }
  .box-order img {
    width: 50%;
  }
  .box-order h4,
  p {
    font-size: 2rem;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  body {
    overflow-x: hidden;
  }
  .paket-wisata .col-md-3 {
    width: 100%;
  }
  .artikel .col-md-3 {
    width: 100%;
  }
  .medsos img {
    width: 20px;
  }

  .navbar ul li a {
    font-size: 15px;
  }

  .why img {
    width: 30%;
  }
  .why h5,
  p {
    font-size: 1rem;
  }

  .paket-wisata h6,
  a {
    font-size: 1.4rem;
  }
  .artikel h6,
  p {
    font-size: 1.4rem;
  }
  .footer p {
    font-size: 10px;
    padding: 1px 10%;
  }
  .footer-medsos img {
    width: 60%;
  }
}
