* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "monzerat";
}

body {
  overflow-x: hidden;
  background-image: url(../img/bg-testimoni.jpg);
}
/* header */

.medsos {
  position: absolute;
  top: 0;
  right: 0;
}
.medsos img {
  width: 40px;
  padding: 5px;
}

.navbar-brand:hover {
  color: rgb(231, 231, 228);
}

nav a {
  font-family: "Segoe UI";
}

.logo {
  width: 210px;
  transition: all 0.7;
}
.logo.active {
  width: 130px;
}

.navbar-nav a {
  padding-left: 40px !important;
}

strong {
  font-size: 65px;
}

/* end header */

/* baner */

/* end baner */

/* navigasi */
.navigasi {
  z-index: 10000;
}
.navigasi ul {
  list-style: none;
  text-decoration: none;
}

.wa-logo img {
  width: 15%;
}
.up img {
  width: 13%;
}
.to-top {
  opacity: 0;
  transition: all 0.7;
}
.to-top.active {
  opacity: 0.8;
  pointer-events: auto;
}
/* end navigasi */

/* page tentang-kami */
/* main */

.main h1 {
  font-size: 50px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main strong {
  color: rgb(209, 0, 0) !important;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* end-main */
/* end page tentang-kami */

/* unit Mobil */
.unit {
  background-image: url(../img/bg-unit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.unit h3,
p {
  text-align: left;
}
.kartu {
  background-image: url(../img/bg-unit.jpg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.kartu a {
  background-color: rgb(240, 185, 34);
  font-family: "Segoe UI";
  font-size: 19px !important;
}
.kartu img {
  width: 90%;
  border-radius: 10%;
}
.next-page a {
  color: rgb(216, 216, 215);
}
.next-page a:hover {
  color: rgb(255, 255, 138);
}

/* end unit Mobil */

/* why choose us */

.box-order {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.why {
  background-image: url(../img/dfb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}

h5 {
  font-size: 4rem;
  padding-top: 10px;
}
.why img {
  width: 100%;
}
/* end why choose us */

/* paket wisata */

.paket-wisata h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.paket-wisata .col-md-3 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.paket-wisata h6 {
  background-color: rgb(228, 228, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* end paket wisata */

/* artikel */

.artikel img {
  width: 100%;
}

.artikel h6,
p {
  font-family: "Segoe UI";
}
.artikel .col-md-2 {
  border: 1px solid rgb(196, 189, 189);
  box-shadow: 5px 5px 5px rgba(43, 42, 42, 0.5);
  margin: 10px;
}

.artikel a:hover {
  font-weight: bold;
  cursor: pointer;
}

/* endartikel */

/* Gallery */

/* end testimoni */

/* footer */
.footer ul {
  list-style: none;
}
.footer-medsos img {
  width: 50px;
  padding-left: 20px;
}

/* end footer */

/* @media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62, 5%;
  }

  h5 {
    width: 80%;
  }

  .kartu {
    width: 30%;
  }
  .unit h3 {
    font-size: 15px !important;
  }
  .unit p {
    font-size: 20px !important;
  }
  .unit a {
    font-size: 12px !important;
  }
  table {
    margin-bottom: 10px;
  }
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .paket-wisata .col-md-3 {
    width: 40%;
  }
  .artikel h6 {
    padding-top: 10px;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
  .paket-wisata .col-md-3 {
    width: 100%;
  }
  .artikel .col-md-3 {
    width: 100%;
  }
}
