* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "monzerat";
}

body {
  overflow-x: hidden;
  background-image: url(../img/kertas.jpg);
 
  
}
/* header */
.header {
  height: 60px;
}

.medsos {
  position: absolute !important;
  top: 0;
  right: 0;
}
.medsos img {
  width: 60px;
  padding: 10px;
}

.navbar-brand:hover {
  color: rgb(231, 231, 228);
}

nav a {
  font-family: "Segoe UI";
}

.logo {
  width: 210px;
  transition: all 0.5s;
}
.logo.active {
  transform: scale(0.7);
}

.navbar-nav a {
  padding-left: 40px !important;
}

strong {
  font-size: 65px;
}

/* end header */

/* navigasi */

.navigasi ul {
  list-style: none;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  padding left:0;
  mar
}

.wa-logo img {
  width: 15%;
}
.up img {
  width: 15%;
}
.to-top {
  opacity: 0;
  transition: all 0.7;
}
.to-top.active {
  opacity: 0.8;
  pointer-events: auto;
}
/* end navigasi */

/* page tentang-kami */
/* main */
main img {
  width: 100%;
}
.main h1 {
  font-size: 50px !important;
}
.main strong {
  color: rgb(209, 0, 0) !important;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* end-main */
/* end page tentang-kami */

/* text seo */
.text-seo {
  padding: 70px 0 50px 0 !important;
  background-color: rgb(245, 248, 250);
}
.text-seo h1 {
  color: rgb(73, 74, 75);
}
/* unit Mobil */
.unit {
  background-image: url(../img/bg-unit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.unit h2 {
  color: rgb(197, 211, 8);
}

.kartu {
  background-image: url(../img/bg-unit.jpg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
.kartu .col-xl-4 {
  margin: 50px;
}
.kartu h3 {
  color: rgb(61, 59, 59);
}
.kartu ul li {
  list-style: none;
  text-decoration: none;
  color: rgb(233, 232, 232);
  padding: 5px;
  border-bottom: 1px solid rgb(189, 185, 185);
  font-size: 1.2rem;
}

.kartu a {
  background-color: rgb(188, 189, 185);
  font-family: "arial";
  font-weight: bold;
  font-size: 19px;
  color: black;
  text-decoration: none;
  padding: 20px;
}
.kartu a:hover {
  background-color: rgb(240, 255, 36);
}

.next-page a {
  color: rgb(216, 216, 215);
}
.next-page a:hover {
  color: rgb(255, 255, 138);
}

/* end unit Mobil */

/* cara pemesanan */
.box-order {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
/* end cara pemesanan */

/* why choose us */

.why {
  padding-bottom: 70px;
}
.why P {
  font-size: 1rem;
  padding: 10px;
}
.why h4 {
  font-size: 3.1rem;
  color: rgb(215, 255, 68);
}
.why h5 {
  font-size: 1.6rem;
}
.why img {
  width: 40%;
}
.box-why {
  margin: 10px;
}
/* end why choose us */

/* paket wisata */

.paket-wisata .col-md-4 {
  margin-bottom: 50px;
}

.paket-wisata h4 {
  font-family: "Segoe UI";
  font-weight: bold;
  border-bottom: 1px solid rgb(216, 213, 213);
}

.paket-wisata h6 {
  background-color: rgb(46, 46, 45);
  font-size: 2rem;
  padding: 15px;
  color: rgb(241, 237, 237);
  font-weight: 600;
}

.paket-wisata a {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  background-color: rgb(214, 203, 203);
  color: rgb(97, 100, 102);
  padding: 10px;
  text-decoration: none;
}
.paket-wisata a:hover {
  background-color: rgb(159, 252, 255);
}

/* end paket wisata */

/* galery */
.galery {
  background-color: rgb(45, 46, 48);
}
.galery h5 {
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
  color: rgb(245, 204, 21);
}

/* end galery */

/* footer */
.footer h6,
p {
  font-size: 1.3rem !important;
}
.footer ul {
  list-style: none;
}
.footer-medsos img {
  width: 25%;
}

/* end footer */

/* @media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62, 5%;
  }

  .header .nohp {
    font-size: 1.5rem !important;
  }

  .unit p {
    font-size: 20px !important;
  }

  table {
    margin-bottom: 10px;
  }
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .paket-wisata .col-md-3 {
    width: 40%;
  }
  .artikel h6 {
    padding-top: 10px;
  }
  .box-order img {
    width: 50%;
  }
  .box-order h4,
  p {
    font-size: 2rem;
  }
}

/* handphone */
@media (max-width: 450px) {
  .medsos img {
    width: 40px;
  }
  .main h1,
  strong {
    font-size: 14px;
  }
  .main p {
    font-size: 1.8rem;
  }

  .why h5,
  p {
    font-size: 1rem;
  }

  .paket-wisata h6,
  a {
    font-size: 1.4rem;
  }

  .footer p {
    font-size: 10px;
    padding: 1px 10%;
  }
  .footer-medsos img {
    width: 40%;
  }
}
